Assessment/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1A34yhA2MNPpNRQlOMNBpyQsiydlt4vludQIX1Ewc5cg",
          "mode": "list",
          "cachedResultName": "Patent submission form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A34yhA2MNPpNRQlOMNBpyQsiydlt4vludQIX1Ewc5cg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A34yhA2MNPpNRQlOMNBpyQsiydlt4vludQIX1Ewc5cg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -100,
        20
      ],
      "id": "a77a4114-0e9c-437a-886f-5dbebe428400",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7I2nwBv8oN4L9qRE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        20
      ],
      "id": "af6adf53-61f0-4b39-8a39-90ba79c47f70",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a patent verification assistant.\n\nYour task is to verify the correctness of the patent form located at the following link: {{ $json[\"Drive Link\"] }}\n\nCheck if the form is correctly filled as per standard patent submission guidelines of Indian Patent Office.\n\nRespond with ONLY one word:\n- \"Valid\" → if the form is correctly filled\n- \"Invalid\" → if the form is incomplete, incorrect, or non-compliant\n\nDo not explain your answer. Do not provide any other text or comments. The output must be exactly either: Valid or Invalid.\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        320,
        -20
      ],
      "id": "0b742bbe-330c-4535-becd-caa5440f2bd5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        340,
        180
      ],
      "id": "02aed7e3-21dd-4b7b-8a54-ec0f089f19a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xrOrXomavFyTxkUR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Upcoming Patent Filing Deadline – Action Required Body:",
        "emailType": "text",
        "message": "=Dear Dr. Kumar,  This is a gentle reminder regarding your ongoing patent application process. 🔹 Checklist Item: Form-2 (Complete Specification) 🔹 Deadline: June 20, 2025 🔹 Current Status: Pending  📌 Next Action: Submit Form-2 with complete specification via IP India Portal.  Thank you, Patent Support System. If you are facing  any difficulties while filing the patent &  any legal support do you want means kindly contact my mail id: muthu.s.cfc@snsgroups.com ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1200,
        -20
      ],
      "id": "d1e841d2-a2b5-4be5-b754-ab74c8087785",
      "name": "Gmail",
      "webhookId": "4bcf1185-10de-4c10-a515-4a9aa81b7d90",
      "credentials": {
        "gmailOAuth2": {
          "id": "xiCrqtA8UvvwrJ8c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        20
      ],
      "id": "a953c92b-a76d-4fc2-94ad-f85048e2bd75",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert patent assistant.\n\nYour job is to explain complex legal jargon in simple language to inventors and guide them on what actions to take next in the patent filing process.\n\nRespond clearly, concisely, and helpful\n\n1. Explain what this item means in simple, non-legal terms.\n2. Describe why it is important in the patent filing process.\n3. Suggest what action the inventor should take next.\n4. If the item is highly legal or technical, recommend consulting a verified patent agent or legal expert.\n\nKeep the response short (3–5 sentences), informative, and easy to understand. yout taks is to output thge steps to fill Form 1, 3 and 5 of Indian Patent Office.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        960,
        320
      ],
      "id": "4385adc9-af86-48cb-815f-ed9ff87dc09f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        340
      ],
      "id": "1f8f172b-b073-42aa-b7d8-77852ffde5a1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "xrOrXomavFyTxkUR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "drive",
        "operation": "get",
        "driveId": {
          "__rl": true,
          "value": "={{ $('Google Sheets').item.json['Drive Link'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        480,
        200
      ],
      "id": "1296ccbd-a32c-495a-a4ab-7d8ffcf67103",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gL0baWFv7aTnQflY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee0cf14e-3db6-4f0d-8911-e36b28e03d48",
              "leftValue": "={{ $json.result }}",
              "rightValue": "=Valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        -20
      ],
      "id": "8aad2f11-f797-4a4d-967f-86fc8ab22654",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop through the array and clean each output\nconst allValid = items.every(item => {\n  const text = item.json.output?.trim();\n  return text === \"Valid\";\n});\n\n// Return single result\nreturn [\n  {\n    json: {\n      result: allValid ? \"Valid\" : \"Invalid\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        -20
      ],
      "id": "9f7201da-80c3-4665-9db9-850f6856ea13",
      "name": "Code1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Rejection of Patent Submission",
        "emailType": "text",
        "message": "=Your submission is rejected due to inavlid patent forms.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1400,
        160
      ],
      "id": "87a3aec4-1c4d-470f-966f-4289d936c4a2",
      "name": "Gmail1",
      "webhookId": "050dc255-25cd-42d6-8604-79d022b356ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "xiCrqtA8UvvwrJ8c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json.Email }}",
        "subject": "General Instructions for Filling out Patent Forms",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1320,
        320
      ],
      "id": "fc66c866-d51d-4ba4-b817-628dfec661cc",
      "name": "Gmail2",
      "webhookId": "a0af66c0-b1f9-41cf-8e46-b6c184f5035c",
      "credentials": {
        "gmailOAuth2": {
          "id": "xiCrqtA8UvvwrJ8c",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5e13734-cf53-4932-9b52-fca6b5ef9ee5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f6612093f7ca42a7ef15fff4a68df5b17da8c082c46107a644b02f4e7daf393"
  },
  "id": "BzNhE5CpVoug5mMV",
  "tags": []
}